.route-list {
  display: flex;
  gap: 10px;
  list-style: none;
}
.erro-image {
  height: 70%;
  width: 100%;
  object-fit: fill;
}
.homePage {
  text-align: center;
}
.about-page {
  text-align: center;
}
.employees h1 {
  text-align: center;
}
.employee-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: 100px;
  margin: 10px;
}
